		<div >
			<div class="container-fluid"   >

				<div class="form-group">
				  <label for="states">Search for Countries</label>
					<input name="states" id="states" type="text" placeholder="enter a country" ng-model="selected" ng-keyup="start()" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control">
				</div>

				<div class="input-group">
		      <div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">+{{countries_code}}</button>

		      </div><!-- /btn-group -->
		      <input type="text" class="form-control" aria-label="..." placeholder="enter contact number">
		    </div><!-- /input-group -->

			</div>


		</div>
